

<link rel="stylesheet" type="text/css" href="css/sectionheader.css">

<div class="section_containter" ng-controller="sectionCntrl">
	
	<div ng-repeat="s in sectionAR" ng-show="sectionIndex == $index > 0">
		
		<div class="section_header">
			<div class="UpHeader">
				<h1 align="center">{{$index+1}} / {{sectionAR.length}} מקטע</h1>
			</div>
			
			<button id="ButtonNext" class="btn btn-info btn-lg" type="image" ng-click="Counter_plus()" <img src="images/rightbutton.png" >> 
			</button>

			<button class="btn btn-info btn-lg" type="image" ng-click="Counter_minos()" <img src="images/s.png" >> 
			</button>
		</div>

		<div class="section_body">
			
			<h2>{{s.NameSection}}</h2>
			<p><h3>{{s.SectionLength}}  :אורך המקטע</h3></p>
			<p><h3>תחבורה ציבורית: {{s.PublicTransportation}}</h3></p>
			<p><h3>מים במהלך המסלול: {{s.Water}}</h3></p>
			<p><h3>נ'ק הצטיידות לאורך המסלול: {{s.EquipingPoints}}</h3></p>

		</div>


		<div class="section_footer">
			FOOTEr
		</div>

	</div>
</div>